#app .navbar .home-link span:before {
  display: inline-block;
  content: "";
  width: 2rem;
  height: 2rem;
  background: url("../img/logo.png") no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
}
